@use 'sass:color';
@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
    $primary: #c1c1c1,
    $secondary: #b4b4b4,
    $surface: #e0e0e0,
    $background: #f0f0f0,
    $error: color-palette.$red-900
);

html,
body {
    background-color: theme.$surface;
    color: theme.$on-surface;
    margin: 0;
}

a {
    color: #40b3ff;
}

a:visited {
    color: color.scale(#40b3ff, $lightness: -35%);
}
